#  OS-created files 
.DS_store
*.DS_store
*.stswp

#  Excel files when in use
*~$*.xlsx

#  Files produced by RStudio
.Rdata
.Rhistory
*.Rdata
*.Rhistory
.Rproj.user
*.Rproj

#  Stata tmp and aux files
*.tmp
*.stswp
